.flex_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 60vh;
}

.flex_item {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}
