.flex_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* background-color: tomato;
    height: 50px;
    width: 60vw; */
}

.flex_item {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}

.list {
    background-color: tomato;
    height: auto;
    margin: 1em 1em 1em 1em;
    padding: 1em;

    /* padding: 16px; */
    max-width: 50em;
    border: 16px solid transparent;
    /* display: none; */
}
